<if @user.errors.any? %>
  <div class="error_explanation">
    <h2><%= pluralize(diary.errors.count, "error") %> prohibited this diary from being saved:</h2>
    <ul>
    <% diary.errors.full_messages.each do |message| %>
      <li><%= messeage %></li>
    </ul>
  </div>
<% end %>

<h1>User info</h1>
<%= form_with model: @current_user do |f| %>
  <label for="inputName">Name</label>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"name" %>
  <label for="inputImage">Image</label>
  <%= f.file_field :profile_image, placeholder:"profileImage", accept: "image/*" %>
  <label for="inputIntroduction">Introduction</label>
  <%= f.text_area :body, placeholder:"introduction" %>
  <%= f.submit "Update User" %>
<% end %>
