<h1>Books</h1>
<table>

    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>

    <% @books.each do |book| %>
      <tr>
        <td>
          <%= link_to users_path(current_user.id) do %>
          <img><%= image_tag book.user.get_profile_image(100,100) %></img>
        <td>
          <%= link_to books_path(book.id) do %>
          <span><%= book.title %></span>
        </td>
        <td>
          <span><%= book.body %></span>
        </td>
      </tr>
    <% end %>
  </table>
