<% if book.errors.any? %>
  <div class="error_explanation">
    <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>
    <ul>
    <% book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h2>User info</h2>

<table class="table">

  <tr>
    <td>
      <%= image_tag user.get_profile_image, size: '100x100' %>
    </td>
    <td></td>
  </tr>

  <tr>
    <td>name</td>
    <td>
      <p><%= user.name %></p>
    </td>
  </tr>

  <tr>
    <td>introduction</td>
    <td>
      <p><%= user.introduction %></p>
    </td>
  </tr>

</table>

<div class ="row">
  <%= link_to edit_user_path(user) do %>
    <button type="button" class="btn btn-outline-secondary btn-block">
      <i class="fa-solid fa-user-gear"></i>
    </button>
  <% end %>
</div>

<h2>New book</h2>
<%= form_with model: book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Opinion</p>
  <%= f.text_area :body %>
  <%= f.submit "Create Book", class: "btn btn-success" %>
<% end %>