<div>
  <%= flash[:notice] %>
</div>

<div class ="container">
  <div class ="row">
    <div class ="col-md-3">
      <%= render 'books/new', book: @book, user: @books.user %>
    </div>

    <div class ="col-md-8 offset-md-1">
      <h1>Book detail</h1>

<table>
    <tr>
        <td>
          <%= link_to user_path(@books.user) do %>
            <%= image_tag @books.user.get_profile_image, size: '100x100' %>
            <span><%= @books.user.name %></span>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(@books.id) do %>
            <span><%= @books.title %></span>
          <% end %>
        </td>
        <td>
          <span><%= @books.body %></span>
        </td>
          <% if @books.user == current_user %>
            <td>
              <%= link_to 'Edit', edit_book_path(@books.id) %>
            </td>
            <td>
              <%= link_to 'Destroy', book_path(@books.id),method: :delete, "data-confirm" => "Are you sure?" %>
            </td>
          <% end %>
    </tr>
</table>