<h1>Book detail</h1>

<table>
      <tr>
        <td>
          <img><%= %></img>
          <%= link_to, users_path(user.id) %>
          <span><%= user.name %></span>
        <td>
          <%= link_to, books_show_path(book.id) %>
          <span><%= book.title %></span>
        </td>
        <td>
          <span><%= book.body %></span>
        </td>
      </tr>
    <% end %>
  </table>